@layer reset, base, tokens, recipes, utilities;

@font-face {
	font-family: "Inter-Thin";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("../src/assets/fonts/Inter-Thin.woff2") format("woff2");
}

@font-face {
	font-family: "Inter-Light";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../src/assets/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Inter-Regular";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../src/assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Inter-Medium";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../src/assets/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Inter-Bold";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../src/assets/fonts/Inter-Bold.woff2") format("woff2");
}

:root {
	--font-inter-thin: "Inter-Thin", sans-serif;
	--font-inter-light: "Inter-Light", sans-serif;
	--font-inter-regular: "Inter-Regular", sans-serif;
	--font-inter-medium: "Inter-Medium", sans-serif;
	--font-inter-bold: "Inter-Bold", sans-serif;
}
